* {
    --DarkSlateGrey: hsl(234, 29%, 20%);
    --CharcoalGrey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
    --Tomato: hsl(4, 100%, 67%);
}

body {
    font-family: 'Roboto';
    background: var(--DarkSlateGrey);
    padding: 50px;
}
.container {
    display: block;
    background-color: var(--White);
    border-radius: 10px;
    display: flex;
    width: 60%;
    padding: 20px;
    margin: 0 auto;
}
.card {
    padding: 40px;
}
li {
    list-style-image: url(assets/images/icon-list.svg);   
}
.btn{
    background: var(--CharcoalGrey);
    color: var(--White);
    border-radius: 10px;
}
.btn:hover {
    background: var(--Tomato);
}

a {
    text-decoration: none;
    padding: 10px;
    text-align: center;
}
.error{
    display: none;
    color:var(--Tomato);
}
a, input {
    display: block;
}
label{
    font-size: smaller;
    font-weight: bold;
}
input {
    padding: 10px;
    margin: 10px;
    width:auto;
}
input:invalid {
    border-color: var(--Tomato);
}
.card-sub {
    display: none;
    background-color: var(--White);
    border-radius: 10px;
    width: 40%;
    padding: 20px;
    margin: 0 auto;
}